@import "../variables/main";
@include resetstyles;

main {
    header {
        position: sticky; top: 0;
        background: $main-pink;
        nav {
            @include orderFlex (row, space-between, center);
            div {
                margin: 0.5rem;
                img {
                    @include imageSize (40%, auto);
                    border-radius: 5%;
                    @media (max-width:750px){
                        display: none;
                    }
                }
            }
            .menu {
                margin: 1rem;
                ul {
                    @include orderFlex (row, space-between, flex-end);
                    li {
                        margin: 0.5rem;
                        transition: 0.3s;
                        &:hover {
                            border-bottom: 2px solid $main-white;
                        }
                        a {
                            color:$main-white;
                            font-size: 19px;
                        }
                    }
                }
            }
        }
    }
    .conocenos {
        @include orderFlex (row, space-between, center);
        margin: 1.5rem 1rem 5rem 1rem;
        border-bottom: 1px solid $main-lightblue;
        img {
            @include imageSize(30rem, auto);
            @media (max-width:750px){
                @include imageSize(22rem,auto);
                margin-top: 1rem;
            }
        }
        p{
            font-size: 21px;
            text-align: center;
            @media (max-width:750px){
                margin: 2rem 0 1.5rem 0;
            }
        }
        @media (max-width: 750px){
            @include orderFlex (column, space-between, center);
            margin-top: 0;
        }
    }
    .productos
        ul {
            width: 100%;
            margin-top: 7rem;
            @include orderFlex(row, space-between, center);
            flex-wrap: wrap;

            @media (max-width: 1200px){
                @include orderFlex(column, space-between, center);
            }

            li {
                @include orderFlex(column, center, center);
                background: $main-white;
                border-radius: 1rem;
                padding: 2rem;
                margin-bottom: 5rem;
                box-shadow: 2px 0px 17px 2px rgba($main-black,0.40);

                @media (max-width: 1200px){
                    width: 400px;
                }

                @media (max-width: 575px){
                    width: 300px;
                }

                div {
                    img {
                        @include imageSize(13rem, auto);
                    }
                }

                span {
                    &:first-of-type {
                        color: $main-black;
                        font-size: 1.3rem;
                        margin-top: 1.5rem;

                        @media (max-width: 1200px){
                            font-size: 5vw;
                        }
                    }

                    &:last-of-type {
                        color: $main-black;
                        text-transform: uppercase;
                        font-size: 1.5rem;
                        font-weight: 700;
                        margin: 1rem 0;
                    }
                }

                button {
                    background: $main-violet;
                    color: $main-white;
                    text-transform: uppercase;
                    padding: 0.8rem 4rem;
                    font-size: 1.1rem;
                    font-weight: 700;
                    border: none;
                    border-radius: 1rem;
                    cursor: pointer;
                }
            }
        }
    }