@import "../variables/main";
@include resetstyles;

main {

    /*Seccion Menu Sticky*/

    header {
        position: sticky; top: 0;
        background: $main-pink;
        nav {
            @include orderFlex (row, space-between, center);
            div {
                margin: 0.4rem;
                img {
                    @include imageSize (35%, auto);
                    border-radius: 5%;
                    @media (max-width:768px){
                        display: none;
                    }
                }
            }
            .menu {
                margin: 1rem;
                ul {
                    @include orderFlex (row, space-between, center);
                    li {
                        margin-right: 0.7rem;
                        transition: 0.3s;
                        &:hover {
                            border-bottom: 1px solid $main-white;
                        }
                        a {
                            color:$main-white;
                            font-size: 19px;
                            @media (max-width: 667px){
                                font-size: 17px;
                            }
                        }
                        .dropdown {
                            position: relative;
                            display: inline-block;
                            color: $main-white;
                            .dropdown-content {
                                display: none;
                                position: absolute;
                                background-color: $main-lightpink;
                                min-width: 140px;
                                box-shadow: 0px 8px 16px 0px rgba($main-violet,0.2);
                                border-radius: 3%;
                                a {
                                    color: $main-white;
                                    font-size: 16px;
                                    padding: 0.2rem 0.5rem;
                                    text-decoration: none;
                                    display: block;
                                }
                            }
                        }
                        .dropdown:hover .dropdown-content {
                            display: block;
                            margin-top: 0.3px;
                        }
                    }
                }
            }
        }
    }

    /*Seccion conocenos*/

    .conocenos {
        @include orderFlex (row, space-around, center);
        padding: 3rem 1rem 3.5rem 1rem;
        border-bottom: 1.5px solid $main-lightblue;
        img {
            @include imageSize(30rem, auto);
            @media (max-width:768px){
                @include imageSize(22rem,auto);
                margin-top: 1rem;
            }
        }
        p{
            font-size: 21px;
            text-align: center;
            margin-left: 2.5rem;
            @media (max-width:768px){
                margin: 2rem 0 1.5rem 0;
            }
        }
        @media (max-width: 768px){
            @include orderFlex (column, space-between, center);
            margin-top: 0;
        }
    }

    /*Seccion Productos*/

    .productos{
        margin: 1rem;
        ul {
            width: 100%;
            margin-top: 7rem;
            @include orderFlex(row, space-between, center);
            flex-wrap: wrap;

            @media (max-width: 1200px){
                @include orderFlex(column, space-between, center);
            }

            li {
                @include orderFlex(column, center, center);
                background: $main-white;
                border-radius: 0.5rem;
                padding: 1.5rem;
                margin-bottom: 5rem;
                box-shadow: 2px 0px 17px 2px rgba($main-lightpink,0.40);
                @media (max-width: 1200px){
                    width: 300px;
                }
                div {
                    img {
                        @include imageSize(auto, 23rem);
                    }
                }
                span {
                    &:first-of-type {
                        color: $main-black;
                        font-size: 1.3rem;
                        margin-top: 1.5rem;
                        @media (max-width: 1200px){
                            font-size: 4vw;
                        }
                        @media (min-width: 768px){
                            fint-size: 4vw;
                        }
                    }
                    &:last-of-type {
                        color: $main-black;
                        font-size: 1.5rem;
                        font-weight: 650;
                        margin: 1rem 0;
                    }
                }
                button {
                    background: $main-violet;
                    color: $main-white;
                    text-transform: uppercase;
                    padding: 0.8rem 2.5rem;
                    font-size: 1.1rem;
                    font-weight: 700;
                    border: none;
                    border-radius: 1rem;
                    cursor: pointer;
                }
            }
        }
    }

    /*Index de Inicio Sesion*/

    .iniciosesion {
        @include orderFlex (column, space-around, center);
        margin: 8rem;
        @media (max-width: 768px){
            margin: 7rem 1.5rem 9rem;
        }
        h2{
            color: $main-lightpink;
            margin-bottom: 3rem;
            text-align: center;
        }
        input[type=text], input[type=password] {
            width: 100%;
            padding: 1rem 1.5rem;
            margin: 0.5rem 0 1.5rem;
            display: inline-block;
            border: 1px solid rgba($main-violet,0.40);
            box-sizing: border-box;
        }
        button {
            background-color: $main-lightgreen;
            color:$main-white;
            padding: 15px 20px;
            margin: 1rem 8rem 0 0;
            border: none;
            cursor: pointer;
            width: 40%;
            @media (max-width: 768px){
                width: 25%;
                padding: 10px 10px;
                margin: 0.5rem 1.5rem 0 0;
            }
            @media (max-width: 667px){
                width: 20%;
                margin: 0.5rem 1rem 0 0;
            }
        }
        button:hover {
            opacity: 0.8;
        }
    }

    /*Index de Registro*/

    .register{
        @include orderFlex (column, space-around, center);
        margin: 8rem;
        @media (max-width: 768px){
            margin: 7rem 1.5rem 9rem;
        }
        h2{
            color: $main-lightpink;
            margin-bottom: 3rem;
            text-align: center;
        }
        input[type=text], input[type=password] {
            width: 100%;
            padding: 1rem 1.5rem;
            margin: 0.5rem 0 1.5rem;
            display: inline-block;
            border: 1px solid rgba($main-violet,0.40);
            box-sizing: border-box;
        }
        button {
            background-color: $main-lightgreen;
            color:$main-white;
            padding: 15px 20px;
            margin: 1rem 8rem 0 0;
            border: none;
            cursor: pointer;
            width: 40%;
            button:hover {
                opacity:1;
            }
            @media (max-width: 768px){
                width: 25%;
                padding: 10px 10px;
                margin: 0.5rem 1.5rem 0 0;
            }
            @media (max-width: 667px){
                width: 20%;
                margin: 0.5rem 1rem 0 0;
            }
        }
        button:hover {
            opacity: 0.8;
        }
    }

    /*Footer*/

    .contacto {
        @include orderFlex (row, space-between, center);
        margin-bottom: 2rem;
    }
}