@import "../variables/main";
@include resetstyles;

main {
    header {
        position: sticky; top: 0;
        background: $main-pink;
        nav {
            @include orderFlex (row, space-between, center);
            div {
                margin: 1rem;
                img {
                    @include imageSize (10%, auto);
                    border-radius: 30%;
                    @media (max-width:750px){
                        @include imageSize (40%, auto);
                    }
                }
            }
            .menu {
                margin: 1rem;
                ul {
                    @include orderFlex (row, space-between, flex-end);
                    li {
                        margin: 0.5rem;
                        transition: 0.3s;
                        &:hover {
                            border-bottom: 2px solid $main-white;
                        }
                        a {
                            color:$main-white;
                            font-size: 19px;
                        }
                    }
                }
            }
        }
    }
}